<div class="wrapper">
  <header>
    <div class="title">
        <h1><a routerLink="/dashboard">MandalArt</a></h1>
    </div>
    <div class="mandal-art-title" *ngIf="selectedMandalArt">
        <h2>{{selectedMandalArt.title}}</h2>
    </div>
    <div class="nav">
      <select #selecElf (change)="selectMandalArt($event.target.value)">
        <option selected="selected" value="none">Select mandalart</option>
        <option disabled value="none">------------------------</option>
        <option *ngFor="let mandalArt of mandalArts" [selected]="mandalArt.id === selectedMandalArt" value="{{mandalArt.id}}">{{mandalArt.title}}</option>
      </select>
    </div>
  </header>
  <router-outlet></router-outlet>  
</div>
